@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/base";

@import "styles/variables";

body {
  margin: 0;
  background-color: $background-color;
  color: #fff;
}

td {
  padding: 0;
  border: none;
}

.container {

}

main {
  padding: 100px 20px 20px 20px;
}

.container.open {
  margin-left: $client-panel-width;

  .client-panel {
    left: 0;
  }
}

.container, .client-panel {
  @include transition(margin 400ms ease-in-out);
}

.client-panel-toggle {
  position: fixed;
  top: 14px;
  left: 54px;
  font-size: 46px;
  text-align: center;
  border-radius: 50%;
  width: 64px;
  @include transition(left 400ms ease-in-out);
}
.open .client-panel-toggle {
  left: $client-panel-width + 54px;
}

.client-panel {
  position: fixed;
  top: 0;
  left: -$client-panel-width;
  padding: 20px;
  height: 100%;
  width: $client-panel-width;
  overflow: visible;
  background-color: #393A3A;
  @include transition(left 400ms ease-in-out);

  .button-container {
    position: absolute;
    bottom: 0;
    width: $client-panel-width;
    left: 0;
    padding: 30px 0;
    background-color: rgba(#EBF0EF, 0.5);
  }
}

.button-container {
  text-align: center;
}

.employee-new-toggle {
  position: fixed;
  top: 10px;
  right: 180px;
  font-size: rem(12);
}

.treemap-toggle {
  position: fixed;
  top: 10px;
  right: 90px;
  font-size: rem(12);
}

.stream-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: rem(12);
}
