<template name="employee_new">
  <div class="employee-new">
    <a href="#" class="employee-new-close">✕</a>
    <form>
      <label for="name">Employee Name</label>
      <input id="employee-name" type="text" name="name" placeholder="" />
      <label for="title">Job Title</label>
      <input id="employee-title" type="text" name="title" placeholder="" />
      <label for="picture">Picture URL</label>
      <input id="employee-picture" type="text" name="picture" placeholder="" />
      <input type="submit" value="Save">
    </form>
  </div>
</template>
