<template name="employees">
  <div class="employees">

    <div class="profile-container">
      {{#each employees}}
        {{> profile}}
      {{/each}}
    </div>
    <div class="timeline-container">
      <div class="global-timeline-container">
        <div class="global-timeline" style="width: {{barWidth}};">
          <ul>
            {{#each loopCount 365}}
              <li>{{#if displayDate}}<span class="big-date">{{displayDate}}</span>{{/if}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{#each employees}}
        {{> timeline}}
      {{/each}}
    </div>
  </div>
</template>
