@import "bourbon/bourbon";
@import "neat/neat";

@import "../../styles/variables";

.employees {
}

.employee-new-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: rem(12);
}

.profile-container {
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  left: 0;
  width: $employee-panel-width;
  height: 100%;
  background-color: $background-color;
  padding-top: 40px;
  @include transition(left 400ms ease-in-out);
}
.open .profile-container {
  left: $client-panel-width;
}

.timeline-container {
  margin-left: $employee-panel-width;
  position: fixed;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding-top: 40px;
}
.global-timeline-container {
  position: absolute;
}
.global-timeline {
  top: -20px;
  margin: 0 0 24px 0;
  position: relative;

  .big-date {
    left: 4px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -13px;
    height: 10px;
    width: 40px;
    display: block;
  }
  ul {
    font-size: 0;
    white-space: nowrap;
  }
  li {
    display: inline-block;
    position: relative;
    width: 40px;
    height:5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;

    &:first-child {
      border-left: 1px solid #fff;
    }

    .weekend {
      background-color: #d9d9d9;
      opacity: 0.2;
      position: absolute;
      width: 100%;
    }
  }
}
