@import "bourbon/bourbon";
@import "neat/neat";

@import "../../styles/variables";

.employees {
  overflow-x: scroll;
}
.profile-column {
  position: absolute;
  height: 20%;
  z-index: 1;
  width: $employee-panel-width;
  background-color: $background-color;
}
.timeline-column {
  padding: 0 0 20px $employee-panel-width;
  width: 100%;
}

.profile-container {
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  left: 0;
  width: $employee-panel-width;
  height: 100%;
  background-color: $background-color;
  padding-top: 40px;
  @include transition(left 400ms ease-in-out);
}
.open .profile-container {
  left: $client-panel-width;
}
