<template name="timeline">
  <div class="timeline">
    {{#each employee_clients}}
      {{#if isVisible client_id}}
        <div class="client-bar-container">
          {{#each work}}
            {{formatWork this ../client_id}}
          {{/each}}
          <div class="client-bar" data-client_id="{{client_id}}" style="background-color: {{clientColor client_id}}; width: {{barWidth}};"></div>
        <h3>{{clientName client_id}}<span class="delete-employee-client">⨯</span></h3>
        </div>
      {{/if}}
    {{else}}
      This employee has nothing to do!
    {{/each}}
  </div>
</template>
