@import "bourbon/bourbon";
@import "neat/neat";

.timeline {
  @include span-columns(10);

  h3 {
    color: #BEBCBC;
    font-size: 18px;
    margin: 10px 0 3px 0;
    position: relative;

    .delete-employee-client {
      cursor: pointer;
      position: absolute;
      margin-left: 10px;
      top: -3px;

      &:hover {
        color: #477DCA;
      }
    }
  }
}

.client-bar-container {
  height: 20px;
  padding-top: 8px;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.client-bar {
  position: relative;
  height: 4px;
  border-radius: 2px;
  overflow: visible;
}

.work-bar {
  position: absolute;
  top: 4px;
  background-color: inherit;
  opacity: 0.2;

  span {
    width: 100px;
    position: absolute;
    font-size: 12px;
    top: -24px;
    opacity: 0;
    @include transition(opacity 400ms ease-in-out);
  }

  &:hover span {
    opacity: 1;
  }
}
