@import "bourbon/bourbon";
@import "neat/neat";

.treemap {
  top: 0;
  position: fixed;
  height: 100%;
  left: 0;
  background-color: rgba(44, 42, 42, 0.93);
  width: 100%;
  z-index: 2;

  .treemap-container {
    width: 90%;
    height: 90%;
    margin: 0 0 5% 5%;
    position: relative;
  }

  .node {
    font-size: 10px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid white;
      margin: 4px;
    }
  }

  .tooltip {
    position: absolute;
    left: 28px;
    top: 70px;
    font-size: 14px;
    font-weight: 300;
  }

  .chart-label {
    padding: 28px;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
  	cursor: move;
  	cursor: col-resize;
    @include user-select(none);

    .weeks {

      /* border-bottom: 1px solid #fff; */
    }
  }

  .close {
    padding: 28px;
    font-weight: 300;
    font-size: 28px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
  }

}
