@import "bourbon/bourbon";
@import "neat/neat";

@import "../../styles/variables";

.profile {
  cursor: pointer;
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: $employee-panel-width;
  min-height: 115px;
  margin-bottom: 35px;
  @include transition(opacity 400ms ease-in);

  h1 {
    font-size: rem(16);
    margin-bottom: 0;
  }
  h2 {
    font-size: rem(14);
    margin-bottom: 0;
    color: #A3A3A3;
  }
  .viz-toggle {
    cursor: pointer;

  }
  img {
    height: 40px;
    float: left;
    margin: 4px 12px 0 0;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
  }
}

.client-dragging .profile {
  opacity: 0.4;

  &.drop-target {
    opacity: 1;
  }
}
