<template name="client_new">
  <div class="client-new">
    <a href="#" class="client-new-close">✕</a>
    <form>
      <label for="name">Client Name</label>
      <input id="client-name" type="text" name="name" placeholder="" />
      <label for="name">Client Color</label>
      <input id="client-color" type="text" name="color" class="color-picker" placeholder="" />
      <br />
      <br />
      <input type="submit" value="Save">
      {{#if clientId}}
        <button class="client-delete">Delete</button>
      {{/if}}
    </form>
  </div>
</template>
