@import "bourbon/bourbon";
@import "neat/neat";

.stream-chart {
  top: 0;
  position: fixed;
  height: 100%;
  left: 0;
  background-color: rgba(44, 42, 42, 0.93);
  width: 100%;
  z-index: 2;

  .label {
    padding: 28px;
    font-size: 28px;
    font-weight: 300;
  }

  .close {
    padding: 28px;
    font-weight: 300;
    font-size: 28px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
  }
}
